.container{
    margin: 0 auto;
    background-color: rgb(214, 210, 210);
    width: 100%;
    height: 100vh;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;

    button{
        width: 200px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid gray;
        font-size: 17px;
        color: white;
        font-weight: bold;

    }
}




.modal-1{
    width: 700px;
    height: 300px;
    display: none;
    flex-direction: row;
    background-color: red;
    color: white;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 5px;
    div{
        text-align: center;
        width: 100%;
        border-radius: 5px;
        
        
    }
    &_header{
                display: flex;
                justify-content: space-between;
                background: rgba(0, 0, 0, 0.2);
                opacity: 0,1;
                width: 100%;
                align-items: center;
                gap: 50px;
                
                h3{
                    font-size: 30px;
                    padding-left: 20px;
                }
                .cross{
                    font-size: 50px;
                    width: 50px;
                    padding-right: 20px;
                    
                    
                }
        }
        p{
            margin-top: 30px;
            font-size: 20px;
            padding: 0 20px 0 20px;
        }

}

.modal-2{
    width: 700px;
    height: 300px;
    display: none;
    flex-direction: row;
    background-color: blue;
    color: white;
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 5px;
    div{
        text-align: center;
        width: 100%;
        border-radius: 5px;
        
        
    }
    &_header{
                display: flex;
                justify-content: space-between;
                background: rgba(0, 0, 0, 0.2);
                opacity: 0,1;
                width: 100%;
                align-items: center;
                gap: 50px;
                
                h3{
                    font-size: 30px;
                    padding-left: 20px;
                }
                .cross{
                    font-size: 50px;
                    width: 50px;
                    padding-right: 20px;
                    
                    
                }
        }
        p{
            margin-top: 30px;
            font-size: 20px;
            padding: 0 20px 0 20px;
        }

}

.active{
    display: flex;
}

.actions{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    

    button{
        
        width: 150px;
        height: 40px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: 0px solid;
        color: white;
        font-size: 17px;
    }

}

.shadow{
    background: rgba(0, 0, 0, 0.4);
    // opacity: 0,6;

    // filter: brightness(40%)
}