.App{
  display: flex;
  justify-content: center;
  
}
label{
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
textarea {
  display: block;
  width: 400px;
  padding: 5px, 10px,;
  color: #555; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control {
  margin-bottom: 20px;

}

.error {
  color: red;
}