.animal-show {
    position: relative;
    border: 1px solid lightblue;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0px 3px 4px lightblue;
}

.animal {
    height: 200px;
}

.heart {
    position: absolute;
    bottom: 10%;
    right: 10%;
}